src/main/mule/employee-management-portal.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="employee-management-portal-httpListenerConfig" basePath="/test">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employee-management-portal-config" api="resource::8ae6d4f1-ab94-48d6-9f39-36b7843d6fb4:employee-management-portal:1.0.0:raml:zip:employee-management-portal.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config_Dev" doc:name="Web Service Consumer Config" doc:id="a5090e23-b823-44ef-8a11-f9f058ec083d" >
		<wsc:connection wsdlLocation="http://34.86.136.216:6061/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://34.86.136.216:6061/ws">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config_test" doc:name="Web Service Consumer Config" doc:id="b81ad341-9e8e-4efe-8311-ec9dac4c84d8" >
		<wsc:connection wsdlLocation="http://34.86.136.216:6062/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://34.86.136.216:6062/ws" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config_prod" doc:name="Web Service Consumer Config" doc:id="dcb6c461-8a1d-4b20-8439-48e3a0fe4654" >
		<wsc:connection wsdlLocation="http://34.86.136.216:6063/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://34.86.136.216:6063/ws" />
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="2841f313-ec0d-4ded-995c-a8db365f367a" file="development.yaml" />
	<flow name="employee-management-portal-main">
        <http:listener config-ref="employee-management-portal-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-management-portal-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="50c1fddb-e691-4d64-8e7d-e914136e944d" type="WSC:CANNOT_DISPATCH">
				<ee:transform doc:name="Transform Message" doc:id="9a8cd02f-a087-43e3-b56f-ecd7f55901b2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "the server is not workings"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="60fe65fb-e345-40a3-8eda-57fb29f7f356" type="WSC:SOAP_FAULT">
				<ee:transform doc:name="Transform Message" doc:id="ce480f31-bc9b-4529-a8a6-9d0506a139a9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "the file is not found in the server"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employee-management-portal-console">
        <http:listener config-ref="employee-management-portal-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employee-management-portal-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\Employees\(id):application\json:employee-management-portal-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="5afa4ef0-870a-4a1f-bc03-de126c400bea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="e34e42a9-f13d-48a0-b1b7-07654f48dd3f" config-ref="${Soap.Wsdl}" operation="UpdateEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="110f7c53-f82a-4843-8af0-92667c602637" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#lastName default "",
	id: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#id as String default "",
	department: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\Employees\(id):employee-management-portal-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="1bbd517e-6fe2-45b4-a1be-947728926695" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="f0f27993-3131-42e8-957f-be34a29595ba" config-ref="${Soap.Wsdl}" operation="DeleteEmployee"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Employees:employee-management-portal-config">
        <ee:transform doc:name="Transform Message" doc:id="57810961-c1e8-4021-82fc-f77a412efe00" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: {}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetAllEmployees" doc:name="Consume" doc:id="28c647e6-2311-4f16-bb8a-936d6d0fcb68" config-ref="${Soap.Wsdl}"/>
		<ee:transform doc:name="Transform Message" doc:id="d4b2a2ae-ec07-4eda-be05-ba1c67292c2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
payload.body.ns0#GetAllEmployeesResponse.*ns0#Employees map ( employee , indexOfEmployee ) -> {
	firstName: employee.ns0#firstName default "",
	lastName: employee.ns0#lastName default "",
	id: employee.ns0#id as String default "",
	department: employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\Employees\(id):employee-management-portal-config">
        <ee:transform doc:name="Transform Message" doc:id="378ce0ff-9d7a-46d3-a41a-f55304cc28b6">
            <ee:variables>
				<ee:set-variable variableName="id" ><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3b133689-37e6-44ec-8893-3d367a5760cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="751115eb-f804-46e1-bcd4-de312308e9e6" config-ref="${Soap.Wsdl}" operation="GetEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="232a7856-7d98-4fc5-8ef0-a4ec13885209" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#lastName default "",
	department: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\Employees:application\json:employee-management-portal-config">
        <ee:transform doc:name="Transform Message" doc:id="0e77d2e9-f2cc-4853-866e-2ce69a79554a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="AddEmployee" doc:name="Consume" doc:id="2ee24ec7-5ac8-4a53-817d-ccb51a0b7e96" config-ref="${Soap.Wsdl}"/>
		<ee:transform doc:name="Transform Message" doc:id="4ea16987-16bd-466b-b017-0abda4aafda5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#lastName default "",
	id: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#id as String default "",
	department: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
